@import '~swiper/css';

/* main css code end */
.swipe-card {
    width: 100%;
    height: 100%;
}

.slide {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    /* Ensure it takes the full height of the viewport or container */
    background-size: cover;
    background-position: center;

}

.slide h1 {
    color: white;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* Semi-transparent background for better readability */
    /* padding: 10px;
    border-radius: 5px; */
}

.mySwiper {
    width: 100%;
    height: 100%;
}


html,
body,
#__next,
.login-bg {
    height: 100vh;
    font-family: 'Poppins', 'Roboto', sans-serif;
    margin: 0;
}

.project-color {
    color: #0e7a31;
}

/* .swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    height: 400px !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swipe-card {
    background: #eaf6f2;
    box-shadow: 5px 5px 10px #626766,
        -5px -5px 10px #ffffff;
    height: 450px !important;
}
*/

.project-logo {
    width: 50;
    height: 70;
}

/* .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    border: 2px solid #0e7a31;
    border-bottom: 0px;
} */
.header-color {
    color: #15da03;
}

.banner-section {
    height: 100vh;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.25) 100%); */
    margin-bottom: 200px !important;
}

.banner-content {
    -webkit-transition: all 400ms;
    transition: all 400ms;
    overflow: hidden;
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background for better readability */
    width: 60%;
    padding: 2%;
    border-radius: 5px;
    margin-bottom: 30px;

}

.banner-content .pretitle {
    font-size: 16px;
    color: #fff;
    background: rgba(228, 27, 35, 0.3);
    font-weight: 200;
    padding: 5px 10px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.toggle-position {
    position: fixed;
}

.page-wrapper {
    margin-top: 75px;
    margin-left: 1vh;
}

.sidebar-menu a {
    color: inherit !important;
    width: 100%;
}

.menu-active {
    color: white !important;
}

.breadcrumb {
    background-color: initial;
    color: #6c757d;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;
}

.page-title {
    color: #1f1f1f;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 5px;
}

.layout-row {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: 2vh;
    margin-left: calc(-.5 * var(--bs-gutter-x))
}

@media (max-width:991.98px) {
    .section {
        /* padding-top: 0px !important; */
    }

    .banner-section {
        margin: 0px !important;
    }

    .nav__content {
        gap: 10px !important;
    }

    .banner__content-title,
    h1 {
        font-size: 20px !important;
        line-height: 30px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .header.false .cmn-button--secondary {
        color: #3f3f3f !important;
    }

    .header .nav__menu-logo {
        gap: 10px !important;
    }

    .banner-content {
        width: 90%;
        padding: 15px;
    }

    .authentication__wrapper {
        margin-top: 50px !important;
    }

    .layout-row .col-2 {
        width: 0% !important;
    }

    .layout-row .col-10 {
        width: 100% !important;
    }
}

/* sidebar */
/*-----------------
	9. Sidebar
-----------------------*/